[submodule "cmake"]
	path = cmake
	url = git@git.dev.lan:app3d/acbt.git
[submodule "modules/auik"]
	path = modules/auik
	url = git@git.dev.lan:app3d/auik
[submodule "modules/awin"]
	path = modules/awin
	url = git@git.dev.lan:app3d/awin
